@font-face{
	font-family: 'Roboto-Regular';

	src: url('Agencyimages/fonts/Roboto-Bold.ttf') format('truetype');
	src: url('Agencyimages/fonts/Roboto-Regular.ttf') format('truetype');
}

html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Roboto-Regular"; 
}

h1,#ux, #ui, #seo{  /* Les UX-UX-SEO sont à la page 2 */
	font-family: "Roboto-Bold";
}

/* ............PAGE D'ACCUEIL...........*/

header{
	display: flex;
	justify-content: space-between;
	position: fixed;
	background-color: #FFFFFF;
	z-index: 20;
	width: 100%;
	height: 70px;
}

nav ul{
	display: flex;
	list-style-type: none;
}

nav li{
	margin: 7px;	
}

nav a{
	font-size: 15px;
	text-decoration: none;
	color: #8B8B8B;
}

nav a:hover{
	border-top: 3px solid #4991AB;
	padding-top: 15px;
}

span{
	color: #4991AB;
}

#menu{
	position: relative;
	left: 150px;
	float: right;
	margin: auto;
	margin-top: 18px;
}

#bar{
	visibility: hidden;
}

#logo img{
	width: 250px;
	margin-top: 10px;
	margin-left: 110px;
}

#titre, #sous{ 
	color: #FFFFFF;
}

#titre{
	font-size: 35px;
}

#sous{
	font-size: 12px;
}

#conteneur{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 600px;
}

#fille_rit{
	position: relative;
	height: 60%;
	margin-top: 65px;
	width: 100%;
}

#description{ 
	position: absolute;
	height: 140px;
	left: 120px;
	top: 170px;
	width: 600px;
	max-width: 70%;
}

#fd{
	position: absolute;
	width: 20px;
	z-index: 10;
	font-size: 25px;
	top: 260px;
	right: 5px;
}

#fg{
	position: absolute;
	width: 20px;
	z-index: 10;
	font-size: 25px;
	top: 260px;	
	height: 60%;
}

.flechegauche, .flechedroite{
	color: black;
}

.bouton_bleu{
	border: 9px solid #60AED1;
	border-radius: 2px;
	background-color: #60AED2;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 12px;
}



/* ................ NOS SERVICE............... */



#hr1{
	position: relative;
	margin:auto;
	width: 150px;
	top: 4px;
	height: 2px;
	background-color: #EEEEEE;
	border: none; 
}

#mac_para{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#bloc_texte_logo{
	float: right;
	width: 600px;
	padding-top: 100px;
	margin-left: 50px;
	text-align: justify;
}

#ux, #ui, #seo{
	font-size: 20px;
}

#para1, #para2, #para3{
	margin-left: 30px;
}

#container1, #container2{
	position: relative;
	top: 20px;
}

#container3{
	position: relative;
	top: 27px;
}

#logo_texte1,#logo_texte2,#logo_texte3{
	display: flex;
}

#service{
	font-size: 40px;
}

#s-dot0{
	border-radius:50%;
	width: 15px;
	height: 15px;
	background-color: #60AED1;
	z-index: 6;
	position: relative;
	margin: auto;
	bottom: 5px;
}

/* .............DEBUT DU PREMIER CHART .......... */

#chart{
	position: relative;
	color: #60AED1;
	left: 30px;
	top: 30px;
	z-index: 10;
}

#circle1{
	position: relative;
	border-radius:50%;
	bottom: 20px;
	left: 10px;
	width:70px;
	height:70px;
	border:1px solid #E9E9E9; 
	background-color: white;
	z-index: 5;
}

#petitcircle1{
	position: relative;
	bottom: 63px;
	left: 72px;
	border-radius:50%;
	width:15px;
	height:15px;
	background-color: #60AED1;
	z-index: 6;
}

/* .......... FIN DU PREMIER CHART.............*/


/* ..........DEBUT DU SECOND CHART.............*/

#cubes{
	position: relative;
	color: #60AED1;
	left: 30px;
	top: 28px;
	z-index: 10;
}

#circle2{
	position: relative;
	border-radius:50%;
	bottom: 23px;
	left: 10px;
	width:70px;
	height:70px;
	border:1px solid #E9E9E9; 
	background-color: white;
	z-index: 5;
}

#petitcircle2{
	position: relative;
	left: 72px;
	bottom: 65px;
	border-radius:50%;
	width:15px;
	height:15px;
	background-color: #60AED1;
	z-index: 6;
}

/* ..........FIN DU SECOND CHART.............*/


/* ..........DEBUT DU TROISIEME CHART.............*/

#pie{
	position: relative;
	color: #60AED1;
	left: 30px;
	top: 20px;
	z-index: 10;
}

#circle3{
	position: relative;
	border-radius:50%;
	bottom: 30px;
	left: 10px;
	width:70px;
	height:70px;
	border:1px solid #E9E9E9; 
	background-color: white;
	z-index: 5;
}

#petitcircle3{
	position: relative;
	left: 72px;
	bottom: 73px;
	border-radius:50%;
	width:15px;
	height:15px;
	background-color: #60AED1;
	z-index: 6;
}

/* ..........FIN DU TROISIEME CHART.............*/

.p2{
	width: 60%;
	margin: auto;
	text-align: center;
	padding-top: 10px;
}

.tete{
	text-align: center;
}

.mac{
	margin-top: 50px;
}


/* ...................NOS PROJETS.................*/

a{
	color: #6D7176;
	text-decoration: none;
}

ul{
	margin-top: 40px;
	list-style-type: none;
	display: flex;
	justify-content: center;
	text-align: center;
}

#hr2{
	position: relative;
	margin:auto;
	width: 150px;
	height: 2px;
	background-color: #EEEEEE;
	border: none; 
	z-index: 6;
}

#projet{
	font-size: 40px;
	text-align: center;
}

#s-dot{
	border-radius:50%;
	width: 10px;
	height: 10px;
	background-color: #60AED1;
	z-index: 7;
	position: relative;
	margin: auto;
	bottom: 6px;
}

#m-dot{
	margin: auto;
	width: 50%;
	position: relative;
	border-radius:50%;
	width: 20px;
	height: 20px;
	background-color: white;
	z-index: 5;
	bottom: 20px;
}

#content{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.header{
	text-align: center;
}

.para_projet{
	margin: 0px 20px 0px 20px;
}

.azerty, .point{
	display: flex;
	justify-content: center;
	list-style-type: none;
	position: relative;
}

.crea,.corpo,.porto{
	border: 2px solid #E5E5E5;
	background-color: #E5E5E5;
	color: #494545;
	padding: 10px 10px 10px 10px;
}

.porto{
	border-radius: 0px 3px 3px 0px;
}

.element{
	width: 300px;
	margin: 20px 20px 20px 20px;
}

.crea:hover, .corpo:hover, .porto:hover{ 
	background-color: #60AED1;
	border: 2px solid #60AED2;
	color: white;
}

.all_works{
	position: relative;
	background: #60AED1;
	border: 11px solid #60AED1;
	border-radius: 3px 0px 0px 3px ;
	box-shadow: 0px 3px 0px #498CAB;
	bottom: 1px;
	color: white;
}

.all_works:before{
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 1px;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.all_works:before{
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #498CAB;
	border-width: 9px;
	margin-left: -9px;
	top: 30px;
}


/* ............ NOS CONTACTS............... */


iframe{
	width: 100%;
	height: 600px;
}

#info{
	font-size: 40px;
	text-align: center;
}

#formulaire{
	display: inline;
	position: relative;
	border: 1px solid #F2F8F8;
	background-color: #F2F8F9;
	opacity: 0.9;
	float: right;
	width: 300px;
	height: 480px;
	bottom: 550px;
	right: 100px;
	max-width: 100%;
	padding-left: 20px;
}

#send{
	border: 1px solid #60AED1;
	background-color: #60AED2;
	color: white;
	padding: 5px 5px 5px 5px;
}

